body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 41, 41);
  height: 100vh;
}
.logout {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  display: none;
}
.fas {
  cursor: pointer;
}
.chat {
  background-color: beige;
  height: 90vh;
  width: 400px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chat-box {
  margin: 0;
  padding: 0.5rem;
  width: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  height: 80%;
  overflow: auto;
}

.current-user {
  background-color: rgb(16, 54, 55);
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.8rem;
  width: 100%;
}
.current-user-content {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
.current-user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.current-user-name {
  color: white;
  font-size: 1.3rem;
  justify-self: flex-start;
}
.back-icon {
  color: white;
  font-size: 2rem;
  justify-self: end;
}
.message-list {
  list-style: none;
  margin-bottom: 1rem;
}
.me-list {
  display: flex;
  justify-content: flex-end;
}
.message {
  position: relative;
  background-color: white;
  padding: 0.7rem 1rem;
  box-sizing: border-box;
  font-size: 1.3rem;
  border-radius: 10px;
  display: inline-block;
  max-width: 70%;
  overflow-wrap: break-word;
}
.message-me {
  background-color: rgb(16, 54, 55);
  color: white;
}
.message-me span {
  color: white;
}
.date {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-size: 0.5rem;
  color: black;
}
.day-box {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.day {
  background-color: darkgray;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 10px;
  color: white;
}
.form {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0.7rem;
  box-sizing: border-box;
}
.input {
  font-size: 1.1rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 5px;
}
.btn {
  background: none;
  border: none;
}
.submit-icon {
  color: rgb(16, 54, 55);
  font-size: 1.3rem;
}
.login-form {
  height: 100%;
  width: 100%;
  background-color: aliceblue;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.name-box {
  margin-bottom: 1rem;
}
.login-form input {
  font-size: 1.2rem;
  padding: 5px 10px;
}
.login-title {
  text-align: center;
}
.login-btn {
  margin-top: 3rem;
  width: 100px;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 5px;
}
.register-link {
  color: cadetblue;
  margin-top: 1rem;
}
#errorMessage {
  display: none;
  color: red;
}
.users {
  margin: 0;
  padding: 0 0.5rem;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(13, 16, 15);
  border-radius: 10px;
  overflow: auto;
}
.user {
  position: relative;
  list-style: none;
  margin: 1rem 0.5rem;
  display: flex;
  align-items: center;
  background-color: rgb(16, 54, 55);
  border-radius: 5px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.new-msg {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 1.2rem;
  padding: 0.5rem 0.7rem;
  color: greenyellow;
  border-radius: 50%;
}
.user-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.user-name {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
}
